<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input id="input1" type="text">
    <input id="input2" type="text">
    <input type="submit">
</form>

<script>
$(document).ready(function(){

    var socket = io.connect('http://127.0.0.1:5000/');

    socket.on('connect',function() {
        socket.send('User has connected!');
       });

    socket.on('message',function(msg) {
    $("message").append('<li>'+msg+'</li>');
    });



    });
</script>

</body>
</html>