#coverimg{
    position: relative;
    bottom:0;
    opacity: 0.5;
    filter:brightness(80%);
    z-index: -99999;
}
#blad{
    position: relative;
    top:-35vw;
    left:50%;
    transform: translate(-50%,0%);
    width: 70%;
    height:700px;
    border-radius: 30px;
    z-index: 1;
    background: 
	  linear-gradient(to right bottom, 
     rgb(236, 236, 236),
     rgb(179, 208, 219));

}
#titel{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: transparent;
}
#grijs{
	/*
	position: absolute;
	bottom: -47vh;
	*/
	width:100%;
	background-color: #cfcfcf;
	height: 58vh;
    z-index: -200;
    position: relative;
    top: -98vh;
}
#line{
	display: block;
    position: relative;
    text-align: center;
    top: -58%;
    left: 19vw;
    background-color: darkgray;
    width: 30vw;
    height: 0.5px;
}
#text1{
	position: relative;
	left: 5%;
	top: -54vh;
	width: 90%;
	height: 150px;
	font-size: 18px;


}
.text{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	text-align: justify;

	color: #686868;

}
#kul{
	position: relative;
	width: 20%;
	height: auto;
	top: -46vh;
    left: 5%;
}
#learnmore{
	position: relative;
	top: -54vh;
    left: 50%;
    transform: translate(-50%, -29%);
}
#text2{
	position: relative;
    width: 63%;
    top: -58vh;
    left: 31%;
	font-size: 16px;
}








body {
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.7;
  	color: #eee;
}

.header {
  	height: 100vh;
  	z-index: 1;
	background-size: cover;
  	background-position: top;
  	position: relative;
	  z-index: 1;
}

.brand-box {
  	position: absolute;
  	top: 40px;
  	left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  	position: absolute;
  	top: 20%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.heading-primary {
  	color: black;
  	text-transform: uppercase;

  	backface-visibility: hidden;
  	margin-bottom: 30px;
}

.heading-primary-main {
  	display: block;
  	font-size: 26px;
  	font-weight: 400;
  	letter-spacing: 5px;
}

.heading-primary-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}
.btn:link,
.btn:visited {
  	text-decoration: none;
  	padding: 10px 20px;
  	display: inline-block;
  	border-radius: 100px;
  	transition: all .2s;
  	position: relative;
}
/*
.btn:hover {
  	transform: translateY(-3px);
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  	transform: translateY(-1px);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
*/
.btn-white {
  	background-color: #fff;
  	color: #777;
	font-size: 14px;
}
