<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tabs</title>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body style="padding: 20px">
<h1 class="title">Tabs</h1>
<div Flass="tabContainer">
    <div class="buttonContainer">
        <button>Tab 1</button>
        <button>Tab 2</button>
        <button>Tab 3</button>
        <button>Tab 4</button>
    </div>
    <div class="tabPanel">Tab 1:Content</div>
    <div class="tabPanel">Tab 2:Content</div>
    <div class="tabPanel">Tab 3:Content</div>
    <div class="tabPanel">Tab 4:Content</div>
</div>
<script src="myScript.js"></script>
</body>
</html>