{% extends "template.html" %}
{% block content %}
<div class="overflow-hidden sm:rounded-lg px-10">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Heat equation
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Calculate an animation of the heat distribution of a rectangular plate in time using a FCTS scheme.
        </p>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            The initial heat distribution of the plate is e<sup>-y</sup>+x.
        </p>
    </div>
    <div class="border-t border-gray-200">
        <form method="POST" action="#">
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Horizontal length
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="L_X" type="number" required placeholder="5" name="L_X" min="0"
                        max="10" value="L_X" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Vertical length
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="L_Y" type="number" required placeholder="5" name="L_Y" min="0"
                        max="10" value="L_Y" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Meshgrid step size
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="H" min="0.15" type="number" required placeholder="0.4" name="H"
                        value="H" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Animation duration
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="T" type="number" min="0" max="20" required placeholder="10"
                        name="T" value="T" step="1">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Animation FPS
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="FPS" type="number" required placeholder="15" name="FPS"
                        value="FPS" step="1" max="30" min="5">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Boundary condition
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <select class="select select-bordered w-full select-ghost" id="BC" type="text" required name="BC"
                        value="BC">
                        <option value="NO_FLUX">No heat flux</option>
                        <option value="FLUX">Heat flux at x=0 and x=L</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-block btn-primary">Calculate</button>
        </form>
    </div>
</div>
{% endblock %}






<!-- <link href="/static/css/differentiation.css" rel="stylesheet">
<h1 style="position: relative;top: 10px;" class="text-gray-700 font-serif text-5xl text-center">
    Heat equation
</h1>
<div id="bovenblad" class="login_form border-2 border-blue-500 p-10 pt-5 shadow-sm mx-auto flex rounded-2xl"
    style="width: 1000px;position: relative;top:100px;">
    <div class="sec flex-1">
        <form method="POST" action="#">
            <h1 class="text-gray-400 font-serif text-2xl text-center">
                Area Rectangle
            </h1>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Length
                    (m)</span>
                <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="L_X" type="number" required
                    placeholder="    e.g. 5" name="L_X" min="0" max="10" value="L_X" step="any">
            </span></span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Width
                    (m)</span>
                <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="L_Y" type="number" required
                    placeholder="    e.g. 5" name="L_Y" value="L_Y" min="0" max="10" step="any">
            </span></span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Step</span>
                <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="H" min="0.15" type="number"
                    required placeholder="    e.g. 0.4" name="H" value="H" step="any">
            </span></span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Time
                    (s)</span>
                <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="T" type="number" min="0"
                    max="20" required placeholder="    e.g. 5" name="T" value="T" step="1">
            </span></span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Frames per
                    second</span>
                <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="FPS" type="number" required
                    placeholder="    e.g. 15" name="FPS" value="FPS" step="1" max="30" min="5">
            </span></span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center shadow-md text-white p-3 px-5 rounded-l">Boundary
                    condition</span>
                <select class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="BC" type="text" required
                    name="BC" value="BC">
                    <option value="NO_FLUX">No Flux</option>
                    <option value="FLUX">Flux</option>
                </select>
            </span></span>
            <button type="submit" href="{{ url_for("heat_equation")}}"
                style="position: relative;left:50%;transform: translate(-50%,22%);width: 87%;"
                class="border-2 border-blue-500 hover:bg-blue-500 shadow-md hover:text-white mt-3 text-blue-500 block text-center p-3 px-4 text-sm rounded-2xl cursor-pointer font-bold">HEAT
                EQUATION </button>
        </form>
    </div>
</div>
</div>
<div id="blad" style="position:fixed;top: 0%;" class="shadow-2xl justify-center"></div> -->