{% extends "template.html" %}
{% block content %}
<div class="bg-white overflow-hidden sm:rounded-lg px-10">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>
    <br>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Lagrange interpolation
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Calculate an interpolating polynomial for given X- and Y-values using Lagrange interpolation.
        </p>
    </div>
    <div class="border-t border-gray-200">
        <form method='POST' action="#">
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    X-values
                </dt>
                <div class="bg-white form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="xval" type="text" required placeholder="0, 2, 6, 4, 1" name="xval">
                </div>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Y-values
                </dt>
                <div class="bg-white form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input class="input input-ghost" id="yval" type="text" required placeholder="3, 5, 6, 1, 8" name="yval">
                </div>
            </div>
            <button class="btn btn-block btn-primary">Calculate</button>
        </form>
    </div>
</div>
{% endblock %}