{% extends "template.html" %}
{% block content %}
<div class="overflow-hidden sm:rounded-lg px-10">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline">{{ message }}</span>
    </div>
    <br>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Optimization
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Calculate the global minimum of a 2D-function in a rectangular area using dual annealing.
        </p>
    </div>
    <div class="border-t border-gray-200">
        <form method='POST' action="#">
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Function
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input type="text" class="input input-ghost" id="f" type="text" required placeholder="sin(x^y)"
                        name="f">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Lower bound for x
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input type="number" class="input input-ghost" id="xl" step="any" type="number" required
                        placeholder="0" name="xl" value="xl" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Upper bound for x
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input type="number" class="input input-ghost" id="xu" step="any" type="number" required
                        placeholder="1" name="xu" value="xu" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Lower bound for y
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input type="number" class="input input-ghost" id="yl" step="any" type="number" required
                        placeholder="0" name="yl" value="yl" step="any">
                </div>
            </div>
            <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Upper bound for y
                </dt>
                <div class="form-control mt-1 text-sm text-black sm:mt-0 sm:col-span-2">
                    <input type="number" class="input input-ghost" id="yu" step="any" type="number" required
                        placeholder="1" name="yu" value="yu" step="any">
                </div>
            </div>
            <button class="btn btn-block btn-primary">Calculate</button>
        </form>
    </div>
</div>
{% endblock %}