{% extends "template.html" %}
{% block content %}
<h1 class='text-red-500 text-center rounded'>{{error_message}}</h1>

<div class="login_form border-2 border-blue-500 p-10 pt-5 shadow-sm mx-auto flex rounded" style="width: 1000px;position: relative;top:100px;">
    <div class="sec flex-1">
        <form method='POST' action="#">
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center text-white p-3 px-5 rounded-l">Function</span>
                    <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="f" type="text" required placeholder="    e.g. x^2-3*x " name="f">
            </span>
            <h1 class="text-gray-800 font-serif text-2xl text-center">
                X-axis area
            </h1>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center text-white p-3 px-5 rounded-l">Lower limit</span>
                    <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="xl" type="number" step='any' required placeholder="    e.g. -1" name="xl" value="xl">
            </span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center text-white p-3 px-5 rounded-l">Upper limit</span>
                    <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="xu" type="number" step='any' required placeholder="    e.g. 1" name="xu" value="xu">
            </span>
            <h1 class="text-gray-800 font-serif text-2xl text-center">
                Y-axis area
            </h1>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center text-white p-3 px-5 rounded-l">Lower limit</span>
                    <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="yl" type="number" step='any' required placeholder="    e.g. -2" name="yl" value="yl">
            </span>
            <span class="flex shadow-md mb-5 text-xs">
                <span class="bg-blue-500 w-28 font-bold text-center text-white p-3 px-5 rounded-l">Upper limit</span>
                    <input class="field text-sm text-gray-600 p-2 px-3 rounded-r w-full" id="yu" type="number" step='any' required placeholder="    e.g. 5" name="yu" value="yu">
            </span>
            
                <button href="{{ url_for('optimization') }}" class="border-2 border-blue-500 hover:bg-blue-500 hover:text-white text-blue-500 block text-center p-3 px-4 text-sm rounded w-full cursor-pointer font-bold" type="submit">OPTIMIZE</button>
            
        </form>
    </div>
</div>

{% endblock %}