{% extends 'template.html' %}
{% block content %}
<link href="/static/css/home.css" rel="stylesheet">
<img src="/static/images/cover.jpg" id="coverimg">
<div id="blad" class="shadow-2xl justify-center">
    <!--
    <h1 id="titel" class=" text-4xl shadow text-black font-serif justify-center transform group-hover:translate-x-6 duration-300 uppercase leading-snug">Fintech</h1>
    -->
    <header class="header">
        <div class="brand-box">
            <span class="brand">Example Brand</span>
        </div>
        
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">DESIGN IN THE CLOUD</span>
                <span class="heading-primary-sub">MATHEMATICAL SIMULATIONS FROM ANYWHERE</span>
            </h1>
            <a href="#" class="btn btn-white btn-animated">Try it</a>
        </div>
    </header>

</div>

<!--
</div>
<div class="flex items-center w-full mx-auto content-end">
    <div
      class="browser-mockup flex flex-1 m-6 md:px-0 md:m-12 bg-white w-1/2 rounded shadow-xl"
    ></div>
  </div>
-->
{% endblock %}