{% extends "template.html" %}
{% block content %}
<div class="bg-white overflow-hidden sm:rounded-lg px-10 py-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Task ID:
    </h3>
    <h1 class="text-lg leading-6 font-medium text-gray-900">{{taskid}}</h1>
    <h3 class="text-lg leading-6 font-medium text-gray-900">
        Elapsed time:
    </h3>
    <p class="text-lg leading-6 font-medium text-gray-900" id="status">0:00</p>
</div>

<script src="{{url_for('static', filename='js/pending.js')}}"></script>
<script src="{{url_for('static', filename='js/websocket.js')}}" data-taskid="{{taskid}}" ws-url="{{ws_url}}"></script>
{% endblock %}