{% extends 'template.html' %}
{% block content %}
<link href="/static/css/mogelijkheden.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nova+Square" />
<div id="geheel">
    <!--
    <ul id="eerste-lijst">
<li><button id="blok1" class="shadow-2xl"></button></li>
<li><button id="blok2" class="shadow-2xl"></button></li>
<li><button id="blok3" class="shadow-2xl"></button></li>
    </ul>
</div>
-->
<!-- component -->
<div class="container my-12 mx-auto px-4 md:px-12">
    <h1 class="categorie">Numerical Mathematics</h1>
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
            <!-- Article -->
                <button href="{{url_for('differentiation')}}" class="overflow-hidden rounded-lg shadow-lg">

                    <div href="#">
                        <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/differentiation.png') }}">
                    </div>

                    <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                        <a href="{{url_for('heat_equation')}}" class="artikeltitel text-lg">

                                Differentiation
                        </a>
                    </header>

                    <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                            <p class="voettekst ml-2 text-sm">
                                Calculate the derivative of a funtion in any point, with any order and receive visual results.
                            </p>
                        
                    </footer>

                </button>
                        <!-- END Article -->

        </div>
        <!-- END Column -->

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="">
                    <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/integration.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <a href="{{ url_for('mogelijkheden') }}" class="artikeltitel text-lg">
                            Integration

                    </a>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the integral of a funtion for any range and receive visual results.
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/optimization.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">

                            Optimization

                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the lowest point of a 3D funtion in any area and receive visual results.
                    </p>
                
                    
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/lagrange.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                    Lagrange Interpolation
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Approximate a function for any amount of given x- and y-values using lagrange interpolation and receive visual results.
                    </p>
                
                    
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/taylor.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Taylor Approximation
                        
                    </h1>

                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the the taylor approximation of a funtion in any point, with any order and receive visual results.
                    </p>
                

                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg" href="">

                <a href="#">
                    <img alt="Placeholder" class="block h-auto w-full" src="{{ url_for('static', filename='images/heatequation.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Heat Equation
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Simulate a 3D heat equation and receive visual results!
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
    </div>
    

        <h1 id="symbolict" class="categorie">Symbolic Mathematics</h1>
        <div id="symbolic" class="flex flex-wrap -mx-1 lg:-mx-4">
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="fotoss block h-auto w-full" src="{{ url_for('static', filename='images/differentiaal.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Differentials
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the derivative of a funtion in any point, with any order and receive symbolic results.
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
        
        
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="fotoss block h-auto w-full" src="{{ url_for('static', filename='images/integraal.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Integrals
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the integral of a funtion for any range and receive symbolic results.
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
    

    
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="fotoss block h-auto w-full" src="{{ url_for('static', filename='images/limiet.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Limits
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the limit of a function in any point symbolically.
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/4">

            <!-- Article -->
            <article class="overflow-hidden rounded-lg shadow-lg">

                <a href="#">
                    <img alt="Placeholder" class="fotoss block h-auto w-full" src="{{ url_for('static', filename='images/wortel.png') }}">
                </a>

                <header class="artikel flex items-center justify-between leading-tight p-2 md:p-4">
                    <h1 class="artikeltitel text-lg">
                        
                        Roots
                        
                    </h1>
                </header>

                <footer class="voet flex items-center justify-between leading-none p-2 md:p-4">
                    <p class="voettekst ml-2 text-sm">
                        Calculate the roots of any function and receive symbolic results.
                    </p>
                
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

    </div>
</div>
</div>
{% endblock %}