<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>P&O3</title>
</head>

<body>
  <div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img src="{{ url_for('static', filename='images/logo.png') }}" width="120px">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="{{ url_for('home') }}"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                <a href="{{ url_for('function') }}"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Function</a>
                <!-- <a href="{{ url_for('openfoam') }}"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">openfoam</a>
                -->     
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
                {% if loggedIn %}
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a href="{{url_for('logout')}}"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log out</a>
  {% endif %}
              </div
                {% if not loggedIn %}
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a href="{{url_for('login')}}"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Log in</a>
                    <a href="{{url_for('register')}}"
                      class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Register</a>
                  </div>
  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  </nav>
  </div>

  <main>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>
</body>

</html>